.mainContent {
  z-index: 0;
  position: relative;
  width: 100vw;
  height: auto;
  padding: 9vh 3.22%;
  background-color: rgb(42, 45, 54);
  flex: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% 0;
    font-size: 2.6rem;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 2px rgb(0, 0, 0);

    &::after {
      content: "";
      align-content: center;
      display: block;
      width: 13%;
      height: 0.3px;
      margin-top: 15px;
      background-color: rgb(242, 243, 249);
    }
  }
}
